* {
    margin: 0;
    padding: 0;
    // font-family: Roboto, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #f1e4e4;
}

div, label, input, textarea {
    font-family: Roboto, Helvetica, sans-serif;
}

.c-app {
    height: 100%;
    
    main {
        position: relative;
        height: 100%;
        // display: flex;
        // flex-flow: row wrap;
        // justify-content: space-between;
    }
}