.c-card-modal__header {
    margin-bottom: 20px;

    & input {
        font-size: 26px;
        border: none;
    }

    & .o-modal__close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}

.c-card-modal__content {
    & .c-card-modal__group {
        margin-bottom: 30px;

        label {
            display: block;
            margin-bottom: 10px;
        }

        textarea {
            padding: 5px;
            width: 300px;
            height: 60px;
            border-color: $gray-dark;
        }
    }
}
