.c-columns {
    display: flex;
}

.c-column {
    width: 260px;
    height: fit-content;
    margin-right: 10px;
    background-color: #15cda8;
    border-radius: 2px;
}

.c-column__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 10px;
    background-color: #099a97;
    border-radius: 4px 4px 0 0;
    cursor: pointer;

    & input {
        width: 180px;
        padding: 2px 10px;
        cursor: pointer;
        background-color: #099a97;
        border: none;
        border-radius: 2px;
        font-weight: bold;
        color: $black;

        &:focus {
            background-color: #FFF;
            cursor: text;
        }
    }

    & i {
        color: $black;
    }
}

.c-column__content {
    padding: 10px;
}

.c-column__options {
    position: absolute;
    top: 30px;
    right: 10px;
    // padding: 10px;
    background-color: $gray;
    border-radius: 2px;

    &.is-hidden {
        display: none;
    }

    & li {
        padding: 10px;
        border-radius: 2px;

        &:hover {
            background-color: $gray-dark;
            color: $text-gray-dark;
        }
    }
}