.o-toast {
    position: absolute;
    z-index: 100000;
    bottom: -70px;
    right: 30px;
    width: 200px;
    padding: 20px;
    background-color: $green;
    color: $text-gray-dark;
    border-radius: 2px;
    cursor: pointer;

    &.is-shown {
        animation-name: moveToast;
        animation-duration: 0.5s;
        bottom: 30px;
    }

    &.is-danger {
        background-color: $red;
    }

    @keyframes moveToast {
        from {
            bottom: -70px;
        }
        to {
            bottom: 30px;
        }
    }
}